<div class="container">
  <div class="card">
    <div class="card-header">
      Featured
    </div>
    <div class="card-body">

      <form [formGroup]="productForm" novalidate>

        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label"
                 for="productNameId">Product Name</label>
          <div class="col-md-8">
            <input type="text"
                   class="form-control"
                   id="productNameId"
                   placeholder="Product Name"
                   formControlName="productName"
                   [ngClass]="{'is-invalid': (productForm.get('productName').touched ||
                                            productForm.get('productName').dirty) &&
                                            !productForm.get('productName').valid }"/>
            <span class="invalid-feedback">
            <span *ngIf="productForm.get('productName').errors?.required">
               Please Enter Product Name
            </span>
            <span *ngIf="productForm.get('productName').errors?.minlength">
              The first name must be longer than 3 characters.
            </span>
          </span>
          </div>
        </div>

        <div class="form-group row mb-2">
          <label for="productCodeId" class="col-md-2 col-form-label">
            Product Code
          </label>
          <div class="col-md-8">
            <input type="text"
                   class="form-control"
                   id="productCodeId"
                   placeholder="Product Code"
                   formControlName="productCode"
                   [ngClass]="{'is-invalid': (productForm.get('productCode').touched ||
                                              productForm.get('productCode').dirty) &&
                                              !productForm.get('productCode').valid }"/>
            <span class="invalid-feedback">
              <span *ngIf="productForm.get('productCode').errors?.required">
                Please Enter Product Code
              </span>
            </span>
          </div>
        </div>

        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label"
                 for="ratingId">Rating</label>
          <div class="col-md-8">
            <input class="form-control"
                   id="ratingId"
                   type="number"
                   formControlName="rating"
                   [ngClass]="{'is-invalid': (productForm.get('rating').touched ||
                                             productForm.get('rating').dirty) &&
                                             !productForm.get('rating').valid }"/>
            <span class="invalid-feedback">
            <!--<span *ngIf="productForm.get('rating').errors?.range">
              Please rate your experience from 1 to 5.
            </span>-->
          </span>
          </div>
        </div>



        <div formArrayName="tags">
        <div [formGroupName]="i" *ngFor="let tag of tags.controls; let i=index">
          <div class="form-group row mb-2">
            <label for="tagId{{i}}" class="col-md-2 col-form-label">
              Tag
            </label>
            <div class="col-md-8">
              <input type="text"
                     class="form-control"
                     id="tagId{{i}}"
                     formControlName="tag"
                     />
            </div>
            <div class="col-md-2">
              <button class="btn btn-outline-danger btn-sm" (click)="deleteTag(i)">Delete Tag</button>
            </div>
          </div>
        </div>
        </div>

        <button class="btn btn-outline-primary btn-sm" (click)="addTag()">
          Add Tag
        </button>

      </form>

    </div>
  </div>

</div>
